@model IEnumerable<eventease.Models.VENUES>

@{
    ViewData["Title"] = "VENUES Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VENUES_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATIONS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAPACITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMAGEURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VENUES_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCATIONS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAPACITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMAGEURL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VENUES_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VENUES_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VENUES_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
