@model eventease.Models.EVENTS

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EVENTS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EVENTS_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EVENTS_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EVENT_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EVENT_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPTIONS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPTIONS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VENUES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VENUES.LOCATIONS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EVENTS_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
